body {
  margin-top: 5rem;
  background-color: #f8f8f8;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    width: 100%;
    margin: 0.5rem 0;
    padding: 1rem;
    background-color: white;
    border-radius: 0.5rem;
    box-sizing: border-box;
  }
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.todo-input {
  display: flex;
  width: 100%;
  justify-content: space-between;
  button {
    flex: none;
    margin-left: 2rem;
  }
}

.todo-list {
  margin: 2rem 0;
}

.completed {
  text-decoration: line-through;
}
